.ring {
  width: 200px;
  height: 200px;
  border: 0px solid #000;
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 255, 255);
  animation: rotate1 2s linear infinite;
}
